/*fonts we need*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Delicious+Handrawn&family=Homemade+Apple&family=Paytone+One&family=Rubik+Distressed&family=Russo+One&display=swap');


::-webkit-scrollbar {
    width: 0.5rem
}
::-webkit-scrollbar-track {
    background-color: rgba(29, 28, 29, 0.6);
}

/*Header*/

html, body {
    padding: 0%;
    margin: 0%;
    overflow-y: scoll; /* Hide vertical scrollbar */
    background-color: rgba(255, 242, 204, 0.3);
}

header {
    position: fixed;
    height: calc((5vw + 5vh)/2);
    background-color: rgba(29, 28, 28, 0.8);
    font-family: 'Rubik Distressed', cursive;
    /*font-family: 'Russo One', sans-serif;*/
    z-index: 1; /*set-on-top*/
    width: 100%;
    min-height: 62px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5); /*offset-x | offset-y | blur-radius | spread | color*/
}

header .headerTitle {
    color:rgb(141, 107, 26);
    max-width: 100%;
    text-align: center;
    font-size: calc((4.1vw + 4.1vh)/2);
    margin: auto;
    overflow-wrap: normal;
    letter-spacing: .2rem;
    padding-top: 0.2rem;
}


/*gray box with Jano.. try to fit the screen*/
.frontPageJano {
    max-width: 100%;
    background-color: rgb(59, 56, 56);
    height: max(83vh, 37rem);
    padding-top: max(16vh, 64px);
    padding-bottom: 0;
    border-bottom: 50px solid rgb(223, 171, 49)
}


.frontPageJano img {
    display: block;
    height: 35rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    margin-bottom: 0;
    bottom: 0;
}


.border_left {
    height: 50px;
    width: 15%;
    /* left: 0px; */
    background-color: rgb(223, 171, 49);
    display: inline-block;
    margin-right: 70%;
    position: absolute;
}
.border_left {
    height: 50px;
    width: 15%;
    /* left: 0px; */
    background-color: rgb(223, 171, 49);
    display: inline-block;
    position: absolute;
}

.border_right {
    height: 50px;
    width: 15%;
    background-color: rgb(223, 171, 49);
    display: inline-block;
    position: absolute;
    right: 0;
}

.warning {
    display: block;
    position: fixed;
    right: 50px;
    bottom: 60px;
    border-radius: 50%;
    width: 150px;
    height: 170px;
    z-index: 5;
    background-color: rgb(59, 56, 56);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), /*bottom*/
               -2px 0px 4px 0 rgba(0, 0, 0, 0.5), /*left*/
                2px 0px 4px 0 rgba(0, 0, 0, 0.5), /*right*/
                0 -2px 4px 0 rgba(0, 0, 0, 0.5); /*up*/
    text-align: center;
    color:rgba(223, 171, 49);
    font-family: 'Caveat', cursive;
    text-align: center;           
}

.warning p {
    margin: 2px;
    margin-top: 8px;
    padding: 2px;
}

main {
    background-color: rgba(255, 242, 204);
    position: absolute;
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 0%;
    left:15%;
    box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.5), 2px 4px 6px rgba(0, 0, 0, 0.5);
}

.intro {

}

h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: xx-large;
    color: rgb(59, 56, 56);
}


.text {
    color:rgba(29, 28, 28);
    font-family: 'Segoe UI', Cambria, Verdana, sans-serif;
    font-size: 2 rem;
    /* display: inline-block; */
    background-color: rgba(0,0,0,0);
    padding: 5rem 5rem 5rem 5rem;
    margin: auto;
}

.illustration {
    float: right;
    /* display: inline-block; */
    padding: 0;
    padding-bottom: 5rem;
    margin-top: -5vh;
}

.illustration img {
    width: 100%;
    height: calc((5vw + 100vh)/2);
    min-height: 100px;
    /* padding-top: 2rem; */
    margin: 0;
}

footer {
    height: 2rem;
    background-color: rgb(141, 107, 26);
    width: 100%;
    padding: 0%;
    margin: 0%;
    position: fixed;
    bottom: 0px; /*have to specify this if it's not at the very top*/
    z-index: 1;
    /* box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.5);  */
}

footer .movingFooter {
    font-family: 'Paytone One', sans-serif;
    font-size: 1rem;
    width: 100%;
    padding-top: 0.2rem;
    margin: auto;
    text-align: center;
    letter-spacing: .1rem;
}

/*box that contains links*/
footer .movingFooter .footerLink {
    display: inline-block;
    padding: 0.08rem 8vw;
    margin: auto;
}

/*Links in the moving footer*/
footer .movingFooter a {color:rgb(59, 56, 56)}
footer .movingFooter a:link {text-decoration: none;}
footer .movingFooter a:hover {/*font-size: 120%;*/ color:rgba(29, 28, 29)}
